<section>
  <article class="middle">
    <header>
      <h2 id="Preguntas" >Preguntas</h2>
    </header>
    
    <h6><strong>¿Qué es ODBC y para qué es útil?</strong></h6>
      <p>Open Data Base Connectivity es una especificación para una API de base de datos, independiente del sistema operativo. Permite que se puedan utilizar y dialogar con distintos controladores para acceder a distintas tablas. [1]</p>
      
    <h6><strong>¿Qué es SQL Injection?</strong></h6>
      <p>Es una vulnerabilidad en la que el atacante envía instrucciones SQL por medio de las entradas o formas de la página para que entre dentro de un código SQL con fines de manipular una base de datos. Y en consecuencia administrar la base de datos. [2]</p>
    
    <h6><strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong></h6>
      <p>Para evitar este tipo de ataque podemos parametrizar las consultas de SQL, es decir, usar tipos de texto y otros formatos para las entradas de información. No dar mucha información sobre el error. Y no aceptar caracteres sospechosos u especiales. [3]</p>
    </article>
</section>


<section>
    <header>
      <h2 id="Referencias"  >Referencias</h2>
    </header>
      <p>[1] https://docs.microsoft.com/es-es/sql/odbc/reference/what-is-odbc?view=sql-server-2017</p>
      <p>[2] https://openwebinars.net/blog/que-es-sql-injection/</p>
      <p>[3] https://geeks.ms/gtorres/2010/10/29/tips-para-evitar-sql-injection/</p>
    <hr>
</section>
  