button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#cajaDrop {
  width: 250px;
  height: 250px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

div.grandeRojo {
  position: relative;
  width: 800px;
  height: 150px;
  border: 3px solid red;

}

.rojo{
  color: red;
}

div.internoAbsoluto {
  position: absolute;
  top: 10 px;
  border: 3px solid blue;
} 

div.internoRelativo {
  position: relative;
  top: 50px;
} 

.dudasAyuda{
  color:purple;
  text-decoration: underline;
}

.ayuda {
  width: 500px;
  height: 100px;
  background-color: lightblue;
  display: none;
  position: relative;
  top: -10px;
  left: 100px;
}

table,table td{
  border:1px 
  solid #000;
  padding:4px 8px}

#middle,.mainTitle,h2,h4,img,table td{
  text-align:center;

}

.waterMark{
  float:left;
  position: absolute;
  top: 40px;
  left: 10px;

  font-size: 200%;
  font-family:Helvetica;
  color:blue;
  opacity: .5;
  -webkit-transform:rotate(-45deg);
}

table{
  background-color:#b7d7e8;width:100%
}

img{
  width:250px;
  height:221px;
}

p{
  font-family:sans-serif
}

body{
  background-color:azure;margin:0 auto;max-width:50em;font-family:Helvetica;line-height:1.5;color:#555;padding:4em 1em}

h2,h4{color:#00008b;font-family:sans-serif;margin-top:1em;padding-top:1em

position: absolute;
  top: 10px;
  }

.mainTitle{color:#00bfff;font-size:30px}


