<section>
    <article class="middle">
        <p>Para acceder ingresa los siguientes datos:
        <p><strong>Username: </strong>Tony <p>
        <p><strong>Password: </strong> 1234 <p>
        <form action="login.php" method="POST">
            <div class="container">
              <label for="uname"><b>Username</b></label>
              <input type="text" placeholder="Enter Username" name="username" id="username" required>

              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="password" id="password" equired>

              <button type="submit">Login</button>
            </div>
        </form>
    </article>
</section>
