table{
    background-color: #b7d7e8;
    border-style:ridge;
    border: 1px solid black;
    padding: 4px 8px;
    width: 100%;
}
table td{
    border: 1px solid black;
    padding: 4px 8px;
    text-align: center;
}
img {
  width: 40%;
  height: 40%;
  text-align: center;
}
p{
    font-family: sans-serif;
}
body{
    background-color:azure;
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica";
    line-height: 1.5;
    color: #555;
    padding: 4em 1em;
}
h2, h4{
    color:darkblue;
    text-align:center;
    font-family: sans-serif;
    margin-top: 1em;
	    padding-top: 1em;
	}
	.mainTitle{
	    color:deepskyblue;
	    font-size: 50px;
	    text-align: center;
}
#middle{
    text-align: center;
}
}
