<section>
  <article class="middle">
    <header>
      <h2 id="Preguntas" >Preguntas</h2>
    </header>
    
    <h6><strong>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.</strong></h6>
      <img src="images/diagram.jpg" alt="diagrama">
      <p>En AJAX la función $.ajax permite definir un objeto de datos para el jQuery. AJAX se comunica con el servidor para pedir los fragmentos que le falta a la página. Estos después los transmite en la página con formato JSON.[1]</p>
      
    <h6><strong>¿Qué alternativas a jQuery existen?</strong></h6>
      <ul>
        <li>Javascript puro, sin librerías.</li>
        <li>Zepto.js: Estructura modular dirigida a entornos muy exigentes en rendimiento.</li>
        <li>XUI: Para el desarrollo de aplicaciones móviles</li>
        <li>Sizzle: Rendimiento competitivo y es independiente.</li>
        <li>Qwery: Simple y útil para seleccionar elementos en el DOM.</li>
      </ul>
      <p>[2]</p>
</section>


<section>
    <header>
      <h2 id="Referencias"  >Referencias</h2>
    </header>
      <p>[1] https://moz.com/blog/using-ajax-json-jquery-to-implement-faceted-navigation</p>
      <p>[2] http://www.etnassoft.com/2011/03/28/alternativas-a-jquery/</p>
    <hr>
</section>
  