<h2>Editar Fruta</h2>
    <form action="editar_fruta.php" method="POST">
      <br>
      <label for="nombre">Nombre de fruta</label><br>
      <input type="text" name="nombre" id="nombre" required>
      <br>
      <label for="unidades">Unidades</label><br>
      <input type="text" name="unidades" id="unidades" required>
      <br>
      <label for="cantidad">Cantidad</label><br>
      <input type="number" name="cantidad" id="cantidad" required>
      <br>
      <label for="precio">Precio por unidad</label><br>
      <input type="number" name="precio" id="precio" required>
      <br>
      <label for="nombre">País de origen</label><br>
      <input type="text" name="pais" id="pais">
      <br>
      <button type="submit" id="submit" name="submit">Enviar</button>
    </form>

