<div class="text-center">
  <h2>Enviar correo al administrador on mailgun</h2>
    
  <form action="controlador/enviar.php" method="POST">
    <br>
    <label for="unidades">Subject:</label><br>
    <input type="text" name="subject" id="subject" required>
    <br>
    <label for="cantidad">Message:</label><br>
    <input type="text" name="text" id="text" required>
    <br>
    <button class="btn btn-primary btn-lg active align-middle" type="submit" id="submit" name="submit">Enviar</button>
  </form>
  
</div>


