<section>
  <article class="middle">
    <header>
      <h2 id="Preguntas" >Preguntas</h2>
    </header>
    
    <h6><strong>¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</strong></h6>
      <p>Ventajas:</p>
      <ul>
        <li>Solucionan una problemática común sin tener que implementarla.</li>
        <li>Ahorro de tiempo y esfuerzo.</li>
        <li>Rápido y sencillo de implementar.</li>
        <li>Existe una gran variedad de ellas gratis.</li>
      </ul>
      <p>Desventajas:</p>
      <ul>
        <li>Pueden haber problemas legales.</li>
        <li>Existe una dependencia de la aplicación tercera y los cambios a la misma afecta directamente en el sistema.</li>
        <li>Hay que pagar coutas para usarlas en algunos casos.</li>
      </ul>
      <p>[1]</p>
</section>


<section>
    <header>
      <h2 id="Referencias"  >Referencias</h2>
    </header>
      <p>[1] https://www.inespay.com/conoce-apis/</p>
    <hr>
</section>
  